footer{
    background-color: #FFFFFF;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy-container{
    margin-left: 100px;
    font-weight: 1rem;
}

.social-container ul{
    margin-right: 100px;
    gap: 15px;
    display: flex;
}

.social-container a{
    height: 48px;
    width: 48px;
    background-color: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #000000;
    transition: .7s;
}

.social-container a:hover{
    background-color: #4c98d3;
}