header{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 116px;
    font-size: 1.5rem;
    font-weight: lighter;
}

.logo-container{
    display: flex;
    margin-left: 100px;
}

.links-container{
    display: flex;
    margin-right: 100px;
    gap: 20px;
}

.link-item-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-item{
    transition: .7s ;
}

.link-item:hover{
    background-color: #4c98d3;
    color: white;
    border-radius: 8px;
    padding: 10px 12px 10px 12px;
}